<div class="container" >
    <div class="row">
        <div class="col-12 titulo">
            <h2>{{titulo}}</h2>
        </div>
        <div class="center-block col-8">
            <form #formul = "ngForm" (ngSubmit)="guardar(formul.value)" id="formul" [formGroup]="formulario">
                <div class="form-group">
                    <label for="nombre">Nombre*</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="nombre" 
                        placeholder="Nombre" 
                        formControlName="nombre" 
                        [ngClass]="{ 'is-invalid active': submitted && validaF.nombre.errors }"
                    >
                </div>
                <div class="form-group">
                    <label for="pApellido">Primer apellido*</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="pApellido" 
                        placeholder="Apellido" 
                        formControlName="pApellido" 
                        [ngClass]="{ 'is-invalid active': submitted && validaF.pApellido.errors }"
                    >
                </div>
                <div class="form-group">
                    <label for="sApellido">Segundo apellido</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="sApellido" 
                        placeholder="Apellido" 
                        formControlName="sApellido" 
                        [ngClass]="{ 'is-invalid active': submitted && validaF.sApellido.errors }"
                    >
                </div>
                <div class="form-group">
                    <label for="calle">Calle*</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="calle" 
                        placeholder="Calle" 
                        formControlName="calle" 
                        [ngClass]="{ 'is-invalid active': submitted && validaF.calle.errors }"
                    >
                </div>
                <div class="form-group">
                    <label for="numero">Numero*</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="numero" 
                        placeholder="Numero" 
                        formControlName="numero" 
                        (keypress)="validText.onlyNumberKey($event)" 
                        [ngClass]="{ 'is-invalid active': submitted && validaF.numero.errors }" 
                    >
                </div>
                <div class="form-group">
                    <label for="colonia">Colonia*</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="colonia" 
                        placeholder="Colonia" 
                        formControlName="colonia"
                        [ngClass]="{ 'is-invalid active': submitted && validaF.colonia.errors }"
                    >
                </div>
                <div class="form-group">
                    <label for="cp">Código Postal*</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="cp" 
                        placeholder="C.P." 
                        formControlName="cp" 
                        (keypress)="validText.onlyNumberKey($event)" 
                        [ngClass]="{ 'is-invalid active': submitted && validaF.cp.errors }"
                        maxlength="5"
                    >
                </div>
                <div class="form-group">
                    <label for="telefono">Télefono*</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        mask='(000) 000-000' 
                        id="telefono" placeholder="Telefono" 
                        formControlName="telefono" 
                        (keypress)="validText.onlyNumberKey($event)" 
                        [ngClass]="{ 'is-invalid active': submitted && validaF.telefono.errors }"
                        maxlength="15"
                    >
                </div>
                <div class="form-group">
                    <label for="rfc">RFC*</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="rfc"
                        placeholder="RFC" 
                        formControlName="rfc" 
                        [ngClass]="{ 'is-invalid active': submitted && validaF.rfc.errors }"
                        maxlength="13"
                    >
                </div>
                <div class="form-group">
                    <label for="estatus">Estatus*</label>
                    <select class="form-control" id="estatus" formControlName="estatus">
                        <option value="" disabled>Selecciona el nuevo estatus</option>
                        <option *ngFor="let estatus of estatusG" value="{{estatus.id}}">{{estatus.nombre}}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="formulario.get('estatus').value == 3">
                    <label for="observaciones">Observaciones del rechazo*</label>
                    <textarea class="form-control" id="observaciones" formControlName="observaciones"></textarea>                    
                </div>
                <div class="form-group">
                    <label class="label">Documentos*</label>
                    <button type="button" class="btn btn-primary btn-sm" (click)="addItemDoc()">
                        <fa-icon [icon]="faPlus"></fa-icon> 
                    </button>
                </div>
                <div *ngIf="estatusEdit == 1">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th width="100">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="documentos">
                          <tr  *ngFor="let item of formulario.get('documentos')['controls']; let i = index"  [formGroupName]="i">
                            <th scope="row">{{i+1}}</th>
                            <td>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Nombre" 
                                    id="nombredoc"  
                                    name="nombredoc" 
                                    formControlName="nombredoc" 
                                    [ngClass]="{ 'is-invalid active': submitted && validaFDocs[i].controls.nombredoc.errors }"
                                >
                            </td>
                            <td>
                                <input 
                                    type="file" 
                                    class="form-control-file" 
                                    id="docfile" 
                                    name="docfile" 
                                    (change)="handleUpload($event,i)"
                                    [ngClass]="{ 'is-invalid active': submitted && validaFDocs[i].controls.base64.errors }"
                                >
                            </td>
                            <td class="options">
                                <button type="button" class="btn btn-link" (click)="deleteItemDoc(i)">
                                    <fa-icon [icon]="faTrash" class="options"></fa-icon> 
                                </button>
                            </td>
                          </tr>
                        </tbody>
                    </table>    
                </div>
                <div *ngIf="estatusEdit != 1">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th width="100">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="documentos">
                          <tr  *ngFor="let item of formulario.get('documentos')['controls']; let i = index"  [formGroupName]="i">
                            <th scope="row">{{i+1}}</th>
                            <td>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Nombre" 
                                    id="doc"  
                                    name="doc" 
                                    formControlName="doc" 
                                    [ngClass]="{ 'is-invalid active': submitted && validaFDocs[i].controls.doc.errors }"
                                >
                            </td>
                            <td>
                                <input 
                                    type="file" 
                                    class="form-control-file" 
                                    id="docfile" 
                                    name="docfile" 
                                    formControlName="docfile" 
                                    [ngClass]="{ 'is-invalid active': submitted && validaFDocs[i].controls.docfile.errors }"
                                >
                            </td>
                            <td class="options">
                                <button type="button" class="btn btn-link" (click)="deleteItemDoc(i)">
                                    <fa-icon [icon]="faTrash" class="options"></fa-icon> 
                                </button>
                            </td>
                          </tr>
                        </tbody>
                    </table>    
                </div>
                <div>
                    <button type="submit" class="btn btn-success botonaction">Guardar</button>
                    <a routerLink="/listprospectos">  
                        <button type="button" class="btn btn-danger float-right botonaction">Cancelar</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>